@font-face {
    font-family: 'Municipal Cast';
    src: url('assets/fonts/subset-MunicipalCast.eot');
    src: url('assets/fonts/subset-MunicipalCast.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/subset-MunicipalCast.woff2') format('woff2'),
        url('assets/fonts/subset-MunicipalCast.woff') format('woff'),
        url('assets/fonts/subset-MunicipalCast.ttf') format('truetype'),
        url('assets/fonts/MunicipalCast.otf') format('opentype'),
        url('assets/fonts/subset-MunicipalCast.svg#MunicipalCast') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-inline-size: 100%;
}

body {
    background-color: black;
    color: white;
    font-family: 'Outfit', sans-serif;
}

h1,
h3 {
    font-family: 'Municipal Cast';
}

h1 {
    font-size: 3rem;
}

h2 {
    font-weight: 200;
    font-size: 1rem;
}

a {
    font-family: 'Municipal Cast', sans-serif;
    text-decoration: none;
    color: white;
}

a:hover {
    opacity: 0.6;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1.5px solid white;
}

h3 {
    font-weight: 400;
    margin: 2rem 0;
}

/* HEADER/NAV Styles */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

nav {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
}

ul li {
    display: inline-block;
    position: relative;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0.5rem;
}

.nav-item {
    font-weight: 700;
}

.links {
    background: black;
    list-style: none;
    border: 1px solid white;
    border-top: none;
    padding: .5rem;
    display: none;
    position: absolute;
    width: fit-content;
    z-index: 1000;
}

.nav-item:focus .links,
.nav-item:hover .links {
    display: block;
}

.dropdown-title:hover {
    opacity: 1;
}

.dropdown-link {
    font-size: .75rem;
}

/* PRODUCT Styles */
.product {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.product img {
    object-fit: cover;
    min-height: 450px;
}

.product label {
    margin: 1rem 0;
    cursor: pointer;
    display: none;
}

.product label:hover,
.product label:focus {
    font-weight: 800;
}

.product-title {
    margin: 1rem;
    font-weight: 600;
    font-size: 1.25rem;
}

.product-blurb {
    font-weight: 300;
    width: 100%;
    display: none;
}

.product-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 350px;
    margin-top: 0.5rem;
}

.popup-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 2000;
    width: 100%;
    height: 100%;
}

.popup-container img {
    margin-top: 2rem;
}

.blurb-hidden {
    display: none;
    margin-bottom: 1rem;
}

.blurb-hidden p {
    margin-bottom: 1rem;
}

.checkbox {
    display: none;
}

#check1:checked~.blurb-hidden {
    display: inline;
}

#check1:checked~.more {
    display: none;
}

/* FOOTER Styles */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0 4rem 0;
    border-top: 1px solid white;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact span {
    margin: 0.3rem;
}

.fa {
    font-size: 2rem;
    margin-top: .2rem;
}

/* ORDER PAGE Styles */
.order-main p {
    margin: 1rem;
    text-align: center;
}

#square {
    display: inline;
    width: 1.5rem;
}

/* ABOUT PAGE Styles */
.about-main p {
    margin: 1rem;
    text-align: center;
    width: min(540px, 90%);
}

.about-main span {
    margin: 0 1rem;
    font-weight: 800;
}

/* EAT PAGE Styles */
.product-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: center;
    gap: 3rem;
}